.table-container {
  margin: 100px 130px 0;

  display: flex;
}

table {
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
  font-style: italic;
}
